<!--==================== CONTACT ME ====================-->
<section class="contact section" id="contact">
  <h2 class="section-title">Contact Me</h2>
  <span class="section-subtitle">Get in touch</span>

  <div class="contact-container container grid">
    <div>
      <div class="contact-info">
        <i class="uil uil-phone contact-icon"></i>

        <div>
          <h3 class="contact-title">Call Me</h3>
          <span class="contact-subtitle">0115-756-8599</span>
        </div>
      </div>
      <div class="contact-info">
        <i class="uil uil-envelope contact-icon"></i>

        <div>
          <h3 class="contact-title">Email</h3>
          <span class="contact-subtitle">{{ "islam.201211@gmail.com" }}</span>
        </div>
      </div>
      <div class="contact-info">
        <i class="uil uil-map-marker contact-icon"></i>

        <div>
          <h3 class="contact-title">Address</h3>
          <span class="contact-subtitle">Giza - Egypt</span>
        </div>
      </div>
    </div>

    <form action="" class="contact-form grid">
      <div class="contact-inputs grid">
        <div class="contact-content">
          <label for="" class="contact-label">Name</label>
          <input type="text" class="contact-input" />
        </div>
        <div class="contact-content">
          <label for="" class="contact-label">Email</label>
          <input type="email" class="contact-input" />
        </div>
      </div>
      <div class="contact-content">
        <label for="" class="contact-label">project</label>
        <input type="text" class="contact-input" />
      </div>
      <div class="contact-content">
        <label for="" class="contact-label">Name</label>
        <textarea
          name=""
          id=""
          cols="30"
          rows="10"
          class="contact-input"
        ></textarea>
      </div>

      <div>
        <a href="#" class="button button-flex">
          Send Message
          <i class="uil uil-message button-icon"></i>
        </a>
      </div>
    </form>
  </div>
</section>
