<!--==================== FOOTER ====================-->
<footer class="footer">
  <div class="footer-bg">
    <div class="footer-container container grid">
      <div>
        <h1 class="footer-title">Islam</h1>
        <span class="footer-subtitle">Front-end Developer</span>
      </div>

      <ul class="footer-links">
        <li>
          <a href="#services" class="footer-link">Services</a>
        </li>
        <li>
          <a href="#portfolio" class="footer-link">Portfolio</a>
        </li>
        <li>
          <a href="#contact" class="footer-link">ContactMe</a>
        </li>
      </ul>

      <div class="footer-socials">
        <a
          href="https://www.facebook.com/"
          target="_blank"
          class="footer-social"
        >
          <i class="uil uil-facebook-f"></i>
        </a>
        <a
          href="https://www.instagram.com/"
          target="_blank"
          class="footer-social"
        >
          <i class="uil uil-instagram"></i>
        </a>
        <a href="https://twitter.com/" target="_blank" class="footer-social">
          <i class="uil uil-twitter"></i>
        </a>
      </div>
    </div>

    <p class="footer-copy">&COPY; Islam Elbadawy, All rights reserved 2021</p>
  </div>
</footer>
