<!--==================== PROJECT IN MIND ====================-->
<section class="project section">
  <div class="project-bg">
    <div class="project-container container grid">
      <div class="project-data">
        <h2 class="project-title">You have a new project</h2>
        <p class="project-description">
          Contact me now and get a 30% discount on your new project.
        </p>
        <a href="#contact" class="button button-flex button-white">
          Contact Me
          <i class="uil uil-message button-icon project-icon"></i>
        </a>
      </div>

      <img src="assets/img/project.png" alt="" class="project-img" />
    </div>
  </div>
</section>
