<app-header></app-header>
<main class="main">
  <app-home></app-home>
  <app-about></app-about>
  <app-skills></app-skills>
  <app-qualifications></app-qualifications>
  <app-services></app-services>
  <app-portfolio></app-portfolio>
  <app-projects></app-projects>
  <app-testimonials></app-testimonials>
  <app-contact></app-contact>
</main>
<app-footer></app-footer>
<!--==================== SCROLL TOP ====================-->
<a href="#" class="scrollup" id="scroll-up">
  <i class="uil uil-arrow-up scrollup-icon"></i>
</a>
