<!--==================== SERVICES ====================-->
<section class="services section" id="services">
  <h2 class="section-title">Services</h2>
  <span class="section-subtitle">What I offer</span>

  <div class="services-container container grid">
    <!--==================== SERVICES 1 ====================-->
    <div class="services-content">
      <div>
        <i class="uil uil-web-grid services-icon"></i>
        <h3 class="services-title">
          UI/UX <br />
          Designer
        </h3>
      </div>

      <span class="button button-flex button-small button-link services-button">
        view More
        <i class="uil uil-arrow-right button-icon"></i>
      </span>

      <div class="services-modal">
        <div class="services-modal-content">
          <h4 class="services-modal-title">
            UI/Ux <br />
            Designer
          </h4>
          <i class="uil uil-times services-modal-close"></i>

          <ul class="services-modal-services grid">
            <li class="services-modal-service">
              <i class="uil uil-check-circle services-modal-icon"></i>
              <p>I develop the user interface.</p>
            </li>
            <li class="services-modal-service">
              <i class="uil uil-check-circle services-modal-icon"></i>
              <p>Web page development.</p>
            </li>
            <li class="services-modal-service">
              <i class="uil uil-check-circle services-modal-icon"></i>
              <p>I create ux element interactions</p>
            </li>
            <li class="services-modal-service">
              <i class="uil uil-check-circle services-modal-icon"></i>
              <p>I position your company brand.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!--==================== SERVICES 2 ====================-->
    <div class="services-content">
      <div>
        <i class="uil uil-arrow services-icon"></i>
        <h3 class="services-title">
          Frront-end <br />
          Developer
        </h3>
      </div>

      <span class="button button-flex button-small button-link services-button">
        view More
        <i class="uil uil-arrow-right button-icon"></i>
      </span>

      <div class="services-modal">
        <div class="services-modal-content">
          <h4 class="services-modal-title">
            Frront-end <br />
            Developer
          </h4>
          <i class="uil uil-times services-modal-close"></i>

          <ul class="services-modal-services grid">
            <li class="services-modal-service">
              <i class="uil uil-check-circle services-modal-icon"></i>
              <p>I develop the user interface.</p>
            </li>
            <li class="services-modal-service">
              <i class="uil uil-check-circle services-modal-icon"></i>
              <p>Web page development.</p>
            </li>
            <li class="services-modal-service">
              <i class="uil uil-check-circle services-modal-icon"></i>
              <p>I create ux element interactions</p>
            </li>
            <li class="services-modal-service">
              <i class="uil uil-check-circle services-modal-icon"></i>
              <p>I position your company brand.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!--==================== SERVICES 3 ====================-->
    <div class="services-content">
      <div>
        <i class="uil uil-wordpress services-icon"></i>
        <h3 class="services-title">
          UI/UX <br />
          Designer
        </h3>
      </div>

      <span class="button button-flex button-small button-link services-button">
        view More
        <i class="uil uil-arrow-right button-icon"></i>
      </span>

      <div class="services-modal">
        <div class="services-modal-content">
          <h4 class="services-modal-title">
            UI/Ux <br />
            Designer
          </h4>
          <i class="uil uil-times services-modal-close"></i>

          <ul class="services-modal-services grid">
            <li class="services-modal-service">
              <i class="uil uil-check-circle services-modal-icon"></i>
              <p>I develop the user interface.</p>
            </li>
            <li class="services-modal-service">
              <i class="uil uil-check-circle services-modal-icon"></i>
              <p>Web page development.</p>
            </li>
            <li class="services-modal-service">
              <i class="uil uil-check-circle services-modal-icon"></i>
              <p>I create ux element interactions</p>
            </li>
            <li class="services-modal-service">
              <i class="uil uil-check-circle services-modal-icon"></i>
              <p>I position your company brand.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
