<!--==================== SKILLS ====================-->
<section class="skills section" id="skills">
  <h2 class="section-title">Skills</h2>
  <span class="section-subtitle">My Technical Level</span>

  <div class="skills-container container grid">
    <div>
      <!--==================== SKILLS 1 ====================-->
      <div class="skills-content skills-open">
        <div class="skills-header">
          <i class="uil uil-brackets-curly skills-icon"></i>

          <div>
            <h1 class="skills-title">Frontend developer</h1>
            <span class="skills-subtitle">More than 3 years </span>
          </div>

          <i class="uil uil-angle-down skills-arrow"></i>
        </div>

        <div class="skills-list grid">
          <div class="skills-data">
            <div class="skills-titles">
              <h3 class="skills-name">HTML</h3>
              <span class="skills-number">90%</span>
            </div>
            <div class="skills-bar">
              <span class="skills-percentage skills-html"></span>
            </div>
          </div>

          <div class="skills-data">
            <div class="skills-titles">
              <h3 class="skills-name">CSS</h3>
              <span class="skills-number">80%</span>
            </div>
            <div class="skills-bar">
              <span class="skills-percentage skills-css"></span>
            </div>
          </div>

          <div class="skills-data">
            <div class="skills-titles">
              <h3 class="skills-name">Javascript</h3>
              <span class="skills-number">75%</span>
            </div>
            <div class="skills-bar">
              <span class="skills-percentage skills-js"></span>
            </div>
          </div>

          <div class="skills-data">
            <div class="skills-titles">
              <h3 class="skills-name">Angular</h3>
              <span class="skills-number">70%</span>
            </div>
            <div class="skills-bar">
              <span class="skills-percentage skills-angular"></span>
            </div>
          </div>
        </div>
      </div>

      <!--==================== SKILLS 2 ====================-->
      <div class="skills-content skills-close">
        <div class="skills-header">
          <i class="uil uil-circuit skills-icon"></i>

          <div>
            <h1 class="skills-title">Embeded Systems Engineer</h1>
            <span class="skills-subtitle">More than a years </span>
          </div>

          <i class="uil uil-angle-down skills-arrow"></i>
        </div>

        <div class="skills-list grid">
          <div class="skills-data">
            <div class="skills-titles">
              <h3 class="skills-name">C/C++</h3>
              <span class="skills-number">50%</span>
            </div>
            <div class="skills-bar">
              <span class="skills-percentage skills-c"></span>
            </div>
          </div>

          <div class="skills-data">
            <div class="skills-titles">
              <h3 class="skills-name">Microcontroller</h3>
              <span class="skills-number">70%</span>
            </div>
            <div class="skills-bar">
              <span class="skills-percentage skills-mic"></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <!--==================== SKILLS 3 ====================-->
      <div class="skills-content skills-close">
        <div class="skills-header">
          <i class="uil uil-swatchbook skills-icon"></i>

          <div>
            <h1 class="skills-title">Ui/UX Designer</h1>
            <span class="skills-subtitle">More than 3 years </span>
          </div>

          <i class="uil uil-angle-down skills-arrow"></i>
        </div>

        <div class="skills-list grid">
          <div class="skills-data">
            <div class="skills-titles">
              <h3 class="skills-name">Adobe XD</h3>
              <span class="skills-number">60%</span>
            </div>
            <div class="skills-bar">
              <span class="skills-percentage skills-xd"></span>
            </div>
          </div>

          <div class="skills-data">
            <div class="skills-titles">
              <h3 class="skills-name">Figma</h3>
              <span class="skills-number">40%</span>
            </div>
            <div class="skills-bar">
              <span class="skills-percentage skills-figma"></span>
            </div>
          </div>

          <div class="skills-data">
            <div class="skills-titles">
              <h3 class="skills-name">Photoshop</h3>
              <span class="skills-number">75%</span>
            </div>
            <div class="skills-bar">
              <span class="skills-percentage skills-ps"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
